<link rel = "stylesheet" type = "text/css" href = "kiosks/main.css">

<main>
    <img class='gif' src="kiosks/img/slide.gif">
    <section class="images">
            <!-- Wednesday -->
            <img style='height: 1920px !important;' src="kiosks/img/kiosk6_s1.png">
    </section>
</main>

<style type="text/css">
    body {
        margin: 0 !important;
    }

    p {
        position: absolute;
        font-size: 40px;
        color: white;
        left: 50px
    }
</style>

