<link rel = "stylesheet" type = "text/css" href = "main.css">

<main>
    <img class='gif' src="img/slide.gif">
    <section class="images">
            <!-- Wednesday -->
            <img src="img/kiosk3_s4.png">
    </section>
</main>

<style type="text/css">
    body {
        margin: 0 !important;
    }

    p {
        position: absolute;
        font-size: 40px;
        color: white;
        left: 50px
    }
</style>

