<link rel = "stylesheet" type = "text/css" href = "main.css">

<main>
    <img class='gif' src="img/slide.gif">
    <section class="images">
            <!-- Wednesday -->
            <img class='timeit'  data-end="2018-05-16 8:30" src="img/kiosk4_s1.png">
            <img class='timeit' data-start="2018-05-16 8:30" data-end="2018-05-16 13:25" src="img/kiosk4_s2.png">
            <img class='timeit' data-start="2018-05-16 13:25" data-end="2018-05-17 7:00" src="img/kiosk4_s3.png">

            <!-- Thursday -->
            <img class='timeit' data-start="2018-05-17 7:00" data-end="2018-05-17 7:50" src="img/kiosk4_s4.png">
            <img class='timeit' data-start="2018-05-17 7:50" data-end="2018-05-17 8:45" src="img/kiosk4_s5.png">
            <img class='timeit' data-start="2018-05-17 8:45" data-end="2018-05-17 13:30" src="img/kiosk4_s6.png">

            <img class='timeit' data-start="2018-05-17 13:30" data-end="2018-05-18" src="img/kiosk4_s6.png">  
    </section>
</main>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- <script src="../timeit/timeit.js"></script> -->
<script src="../timeit/timeit.min.js"></script>



<style type="text/css">
    body {
        margin: 0 !important;
    }

    p {
        position: absolute;
        font-size: 40px;
        color: white;
        left: 50px
    }
</style>

