.home_index {
  overflow: hidden;
}

.gif {
  position: fixed;
  bottom: 0;
  width: auto !important;
  z-index: -2;
  height: 1920px !important;
  transition: height 2s;
}

.slick-initialized .slick-slide, .images {
  height: 1920px !important;
  position: relative;
}

.images img {
  height: 1920px !important;
  width: 1080px !important;
}

.slick-prev, .slick-next {
  display: none !important;
}

.buttons {
  padding-top: 250px;
  display: flex;
  justify-content: center;align-items: center;
  flex-direction: column;
}

.buttons a {
  color: white;
  font-size: 41px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Calibri';
  display: inline-block;
  text-align: center;
  margin: auto;
  margin: 30px;
  padding: 30px 86px;
  border: 1px solid white;
}

.hidden {
  display: none;
}